.dayRow{
margin-bottom:10px;
width:50px;
height:20px;
text-align:center;
}

.selectBox{
width:50px;
margin:0;
padding:0;
}

.listRow{
width:100%;
height:100%;
}

.row{
float:left;
margin-right:5px;
border:1px solid;
font-size:0.8em;
}

#list{
width:8000;
height:100%;
}

br{
clear:both;
}

.userRow{
width:200px;
text-align:left;
font-size:1em;
}
.categorieRow{
width:200px;
text-align:left;
font-size:1em;
}

.c{
background-color:#e06666;
}